/* Reusable code snippets */

.flex{
    display: flex;
}

/*Här är lite positionering och ändring på utseendet*/

body{
    font-family: monospace;
    background-color: rgb(51, 51, 51);
    color: whitesmoke;
}

h2{
    text-align: center;
}

#välj-kamera{
    display: none;
}

#starta-spelet{
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 2rem 5rem;
}

#knappar{
    justify-content: space-between;
    width:40rem;
    margin-left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 100;
}

/*Här är css för de flesta knapparna på hemsidan så att de ska ha samma padding*/

#knappar >button , #fixaKamera > button, #rörelsedetektor > button{
    padding: 1rem 3rem;
}

/*Jag har lagt in ett statiskt "brus" på varje kamera för att ge lite extra effekt*/

#static{
    z-index: 1000;
    opacity: 20%;
    height: 100%;
    width:100%;
    position: absolute;
}

/*Jag har använt samma css kod på de olika kamerorna för att få samma position och storlek*/

#security-cam1, #security-cam3, #security-cam7{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    height: 45rem;
    width: 65rem;
    background-color: red;
    display: none;
}



#cam1{
    display: none;
}

#backrooms1, #backrooms2, #backrooms3{
    z-index: 100;
    height: 100%;
    width: 100%;
    position: absolute;
}

#ljudspelare{
    display: none;
    position: absolute;
}

/*Här är css för de två videos som visas på hemsidan */

#malfunction{
    z-index: 120;
    display: none;
    position: absolute;
}

#gåUtVideo{
    display: none;
    z-index: 1000;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 65rem;
    height: 45rem;
}

/*Samma css för de olika valen man har*/

#fixaKamera, #rörelsedetektor{
    display: none;
    justify-content: space-between;
    align-items: center;
    width:50rem;
    height: 20rem;
    margin-left: 50%;
    flex-direction: column;
    transform: translateX(-50%);
    position: absolute;
    z-index: 100;
    font-size: larger;
}


#fixaKamera > button{
    width: 15rem;
    font-size: larger;
    margin-top: 55%;
}

#rörelsedetektor > button{
    width: 23rem;
    font-size: larger;
    margin-top: 55%;
}

/*#Ögon är det man ser i bakgrunden på kamera 7. #svartrektangel kommer när kameran blir svart*/

#ögon{
    z-index: 110;
    position: absolute;
    height: 5rem;
    width:5rem;
    top:50%;
    left:70%;
    display: none;
}

#svartrektangel{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    height: 45rem;
    width: 65rem;
    background-color: black;
    z-index: 110;
    display: none;
}

/*Css för skärmen när man har förlorat*/

#youDied{
    display: none;
    height: 50rem;
    width:50rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

#youDied > h1{
    margin-left: 50%;
    transform: translateX(-50%);
}

#youDied > button{
    padding: 1rem 3rem;
    height: 5rem;
    width: 10rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

#youWon{
    display: none;
    height: 50rem;
    width:50rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

#youWon > h1{
    margin-left: 50%;
    transform: translateX(-50%);
}

#youWon > button{
    padding: 1rem 3rem;
    height: 5rem;
    width: 10rem;
    margin-left: 50%;
    transform: translateX(-50%);
}